<h1 class="text-primary-dark-500">New Board Column</h1>

<div class="row w-100 justify-content-center mt-3">
  <%= turbo_frame_tag dom_id(@board_column) do %>
    <div class = 'board-column'>
      <div class="border border-primary-grey-200 bg-light p-2">
        <%= render 'form' %>
      </div>
    </div>
  <% end %>
</div>
