<div class="row w-100">
  <div class="d-flex justify-content-between">
    <%= link_to 'New Board', new_board_path, class: 'btn btn-outline-primary invisible' %>
    <h1 class="text-primary-dark-500">
      Boards
    </h1>
    <div>
      <%= turbo_frame_tag dom_id(Board.new) do %>
        <%= link_to 'New Board', new_board_path, class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row w-100" id='boards'>
  <% @boards.each do |board| %>
    <%= render partial: 'boards/board', locals: { board: board } %>
  <% end %>
</div>
