<div class="row w-100">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 equal"></div>
    <h1 class="text-center flex-grow-1 text-primary-dark-500">Boards</h1>
    <div class="flex-grow-1 equal d-flex justify-content-end">
      <div>
        <%= turbo_frame_tag dom_id(Board.new) do %>
          <%= link_to 'New Board', new_board_path, class: 'btn btn-outline-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row w-100" id='boards'>
  <% @boards.each do |board| %>
    <%= render partial: 'boards/board', locals: { board: board } %>
  <% end %>
</div>
