<%= turbo_frame_tag dom_id(board_column, :new_card) do %>
  <%= link_to new_card_url(board_column_id: board_column.id), class: 'text-success fs-2' do %>
    <div class="fa-solid fa-plus"></div>
  <% end %>
<% end %>
